include share/*.desktop
include share/*.1.gz
include forms/*.xml
include forms/*.xsl
include images/*
include locale/*/LC_MESSAGES/D-RATS.mo
include ui/addport.glade
include ui/mainwindow.glade
include d_rats/version.py
include d-rats.py
include d-rats_repeater.py
include share/d-rats2.xpm
include d-rats2.ico
include MANIFEST.in
include COPYING
include PKG-INFO
include changelog.gz
include NEWS.rst.gz
