# requirements for d-rats
# Packages needed for running
lxml
Pillow
pycairo
PyGObject
pyserial
# packages recommended for running
geopy
feedparser
# packages needed for development
build
pip
pylint
setuptools
Sphinx
towncrier
virtualenv
wheel
