[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=d-rats_repeater.py
Icon=/usr/share/pixmaps/d-rats2.xpm
StartupNotify=true
Terminal=false
Categories=Application;HamRadio
MimeType=inode/directory
Name=D-RATS Repeater
Comment=D-RATS Repeater
GenericName=D-RATS Repeater
