[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=d-rats_mapdownloader
Icon=d-rats2
StartupNotify=true
Terminal=false
Categories=Application;HamRadio
MimeType=inode/directory
Name=D-RATS Map Downloader
Comment=D-RATS Map Downloader
GenericName=D-RATS Map Downloader
