[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=d-rats.py
Icon=/usr/share/pixmaps/d-rats2.xpm
StartupNotify=true
Terminal=false
Categories=Application;HamRadio
MimeType=inode/directory
Name=D-RATS
Comment=D-STAR Communication Tool
GenericName=D-STAR Communication Tool
